<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @apprentice.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @apprentice.city %>
</p>

<p>
  <strong>Master name:</strong>
  <%= @apprentice.master.name %>
</p>


<%= link_to 'Edit', edit_apprentice_path(@apprentice) %> |
<%= link_to 'Back', apprentices_path %>
